{% extends "base.html" %}
{% block content %}
<h1>Posts</h1>
<form method="post" action="{{ url_for('insert_post') }}">
  <label for="channel_id">Channel ID:</label>
  <input type="text" name="channel_id" required>
  
  <label for="post_description">Post Description:</label>
  <input type="text" name="post_description" required>
  
  <label for="post_date">Post Date:</label>
  <input type="date" name="post_date" required>
  
  <label for="post_likes">Post Likes:</label>
  <input type="number" name="post_likes" required>
  
  <button type="submit">Insert Post</button>
</form>
<table>
  <tr>
    <th>Channel</th>
    <th>Contents</th>
    <th>Published</th>
    <th>Likes</th>
    <th>Action</th>
    <th>Update Contents</th>
  </tr>
  {% for row in posts %}
  <tr>
    <td>{{ row[5] }}</td>
    <td style="max-width: 600px;">{{ row[3] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[4] }}</td>
    <td>
      <form method="post" action="{{ url_for('delete_post', post_id=row[0]) }}">
        <button type="submit">Delete</button>
      </form>
    </td>
    <td>
      <form method="post" action="{{ url_for('update_post', post_id=row[0]) }}">
        <input type="text" name="updated_contents" required>
        <button type="submit">Update</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
