<!DOCTYPE html>
<html>
<head>
    <title>YouTube Database</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lexend' rel='stylesheet'>
</head>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/channels">Channels</a>
        <a href="/categories">Categories</a>    
        <a href="/videos">Videos</a>
        <a href="/playlists">Playlists</a>
        <a href="/comments">Comments</a>
        <a href="/sponsors">Sponsors</a>
        <a href="/posts">Community Posts</a>
        <a href="/query">Queries</a>
    </nav>
</header>
<body>
    <section class="query-section">
        <h2>Query</h2>
        <form action="/query" method="post">
            <label for="queryType">Select Attributes:</label>    

            <label for="parameter1">Parameter 1:</label>
            <input type="text" name="parameter1" id="parameter1">

            <label for="parameter2">Parameter 2:</label>
            <input type="text" name="parameter2" id="parameter2">

            <button type="submit">Submit</button>
        </form>
    </section>

    <section class="query-results">
        <!-- Display query results here -->
    </section>
</body>
</html>