<!DOCTYPE html>
<html>
<head>
    <title>YouTube Database</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lexend' rel='stylesheet'>
</head>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/channels">Channels</a>
        <a href="/categories">Categories</a>    
        <a href="/videos">Videos</a>
        <a href="/playlists">Playlists</a>
        <a href="/comments">Comments</a>
        <a href="/sponsors">Sponsors</a>
        <a href="/posts">Community Posts</a>
    </nav>
</header>
<body>
    <h1>Videos</h1>

    <form method="post" action="{{ url_for('videos') }}">
        <label for="video_id">YouTube Video ID:</label>
        <input type="text" id="video_id" name="video_id" required>
        <button type="submit">Insert</button>
    </form>

    <table>
        <tr>
            <th>Channel</th>
            <th>Title</th>
            <th>Views</th>
            <th>Published</th>
            <th>Likes</th>
            <th>Duration</th>
            <th>Description</th>
            <th>Category</th>
            <th>Actions</th>

        </tr>
        {% for row in videos %}
            <tr>
                <td>{{ row[9] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[8] }}</td>
                <td>{{ row[10] }}</td>
                <td>
                    <form method="post" action="{{ url_for('delete_video', video_id=video[0]) }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
